@import "~bootstrap/dist/css/bootstrap.min.css";

body {
  background-color: green;
}

.upside-down {
  transform: rotate(180deg);
}

button {
  font-size: 3rem !important;
}

.card {
  border-radius: 35px;
}

.unicode {
  font-size: 10rem;
}

.number-font-size {
  font-size: 11rem;
}

#card-height {
  /* position: absolute; */
  margin-top: 45%;
  transform: rotate(270deg);
}

.card-form-label {
  font-size: 3rem;
}

#countdown-text {
  font-size: 4rem;
}

.heart,
.diamond {
  color: red;
}

.spade,
.club {
  color: black;
}

.disable-select {
  user-select: none;
}
